<%= form_with model: post do |f| %>
  <%= render 'layouts/errors', obj: post %>
  <div class="form-group">
    <label for="post_image">【お食事の写真】</label>
    <div id="post-image" class="text-center text-md-left">
    <% if @post.image.present? %>
      <%= image_tag @post.get_image(350, 250), class: "rounded border" %>
    <% else %>
      <%= image_tag 'no_post_image.jpeg', class: "no-post-image" %>
    <% end %>
    </div>
    <div class="mt-2"><%= f.file_field :image, accept: "image/*" %></div>
  </div>
  <div class="form-group">
    <label for="shop_name">
      【お店の名前】
      <span class="required">必須</span>
    </label>
    <div><%= f.text_field :shop_name, class: "form-control", placeholder: "◯◯◯食堂（最大30文字まで入力可）" %></div>
  </div>
  <div class="form-group">
    <label for="shop_address_introduction">【住所】</label>
    <div><%= f.text_field :address, class: "form-control", placeholder: "東京都渋谷区代々木神園町0-0、東京駅、etc、、、" %></div>
  </div>
  <div class="form-group">
    <label for="menu">
      【メニュー名】
      <span class="required">必須</span>
    </label>
    <div><%= f.text_field :menu, class: "form-control", placeholder: "◯◯◯定食（最大30文字まで入力可）" %></div>
  </div>
  <div class="form-group">
    <label for="impression">
      【感想】
      <span class="required">必須</span>
    </label>
    <div><%= f.text_area :impression, class: "form-control", rows: 5, placeholder: "最大100文字まで入力可" %></div>
  </div>
  <div class="form-group">
    <label for="price">【値段】</label>
    <div class="input-group">
      <%= f.text_field :price, class: "form-control", placeholder: "半角でご入力ください" %>
      <div class="input-group-append"><div class="input-group-text">円</div></div>
    </div>
  </div>
  <div class="form-group">
    <label for="volume_status">
      【ボリューム感】
      <span class="required">必須</span>
    </label>
    <div>
      <%= f.radio_button :volume_status, Post.volume_statuses.key(0) %>
      <%= f.label :volume_status_full, Post.volume_statuses_i18n[:full] %>

      <%= f.radio_button :volume_status, Post.volume_statuses.key(1) %>
      <%= f.label :volume_status_just_right, Post.volume_statuses_i18n[:just_right]%>

      <%= f.radio_button :volume_status, Post.volume_statuses.key(2) %>
      <%= f.label :volume_status_not_enough, Post.volume_statuses_i18n[:not_enough]%>
    </div>
  </div>

  <% if post.id.nil? %>
    <div class="form-group" id="star">
      <label for="star">
        【また食べたい度】
        <span class="required">必須</span>
      </label>
      <%= f.hidden_field :star, id: :review_star, class: 'form-control' %>
      <div id="post_raty"></div>
    </div>
    <script>
      $(document).on('turbolinks:load', function() {
        let elem = document.querySelector('#post_raty');
        if (elem == null) return;

        elem.innerHTML = ""
        let opt = {
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          scoreName: 'post[star]',
        };
        raty(elem, opt);
      });
    </script>
  <% else %>
    <div class="form-group" id="star">
      <label for="star">
        【また食べたい度】
        <span class="required">必須</span>
      </label>
      <%= f.hidden_field :star, id: :review_star, class: 'form-control' %>
      <div id="post_raty"></div>
    </div>
    <script>
      $(document).on('turbolinks:load', function() {
        let elem = document.querySelector('#post_raty');
        if (elem == null) return;

        elem.innerHTML = ""
        let opt = {
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          scoreName: 'post[star]',
          score: <%= post.star %>,
        };
        raty(elem, opt);
      });
    </script>
  <% end %>

  <div class="form-group">
    <% if f.object.new_record? %>
      <%= f.submit '投稿する', class: "btn btn-block btn-success mt-5" %>
    <% else %>
      <%= f.submit '更新する', class: "btn btn-block btn-success mt-5" %>
    <% end %>
  </div>
<% end %>