<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4">
      <%= render 'layouts/sidebar' %>
    </div>
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <h2>投稿詳細</h2>
        <div class="row">
          <div><%= image_tag @post.user.get_profile_image(50,50), class: "mt-o rounded-circle"; %></div>
          <div><%= @post.user.name %></div>
        </div>

      <div class="row">
        <div class="col-xs-12 col-md-7">
          <div><%= image_tag @post.get_image(500,400) %></div>
          <div class="favorite-btn<%= @post.id %>">
            <%= render 'public/favorites/btn', post: @post %>
          </div>
          <% if @post.user == current_user %>
            <div class="d-grid gap-2 d-md-block text-center">
              <%= link_to "投稿を編集", edit_post_path, class: 'btn btn-success' %>
              <%= link_to "投稿を削除", post_path, method: :delete, "data-confirm" => "本当に削除しますか？", class: 'btn btn-danger' %>
            </div>
          <% end %>
        </div>
        <div class="shop-info col-xs-12 col-md-5">
          <dl>
            <dt>投稿日</dt>
            <dd><%= @post.created_at.strftime('%Y/%m/%d') %></dd>
            <dt>お店の名前</dt>
            <dd><%= @post.shop_name %></dd>
            <dt>住所</dt>
            <dd><%= @post.address %></dd>
            <dt>メニュー名</dt>
            <dd><%= @post.menu %></dd>
            <dt>感想</dt>
            <dd><%= @post.impression %></dd>
            <dt>値段</dt>
            <% if @post.price.present? %>
              <dd><%= @post.price.to_s(:delimited, delimiter: ',') %>円</dd>
            <% else %>
              <dd>値段が入力されていません。</dd>
            <% end %>
            <dt>ボリューム</dt>
            <dd><%= @post.volume_status_i18n %></dd>
            <dt>また食べたい度</dt>
            <dd><%= render "static_rate", post: @post %></dd>
          </dl>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <h3>コメント一覧</h3>
          <div id="comments-count">
            <%= render 'public/comments/count', post: @post %>
          </div>
          <div id="comments-area">
            <%= render 'public/comments/index', post: @post %>
          </div>
          <%= render 'public/comments/form', post: @post, comment: @comment %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <h3>マップ</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
          <% if @post.address.present? %>
            <div id="map"></div>
            <style>
              #map {
                height: 500px;
                width: 70%;
              }
            </style>
            <script>
              function initMap() {
                var shop = {lat: <%= @post.latitude %>, lng: <%= @post.longitude %>};
                var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 16,
                  center: shop
                });
                var transitLayer = new google.maps.TransitLayer();
                transitLayer.setMap(map);

                var contentString = '住所：<%= @post.address %>';
                var infowindow = new google.maps.InfoWindow({
                  content: contentString
                });
                var marker = new google.maps.Marker({
                  position: shop,
                  map: map
                });
                   }
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLEMAP'] %>&callback=initMap"async defer></script>
          <% else %>
            住所の情報が入力されていません。
          <% end %>
        </div>
      </div>
      <%= link_to '戻る', :back, class: "btn btn-outline-dark mt-3" %>
    </div>
  </div>
</div>
