<% if admin_signed_in? %>
  <% if @users.present? && @posts.present? %>
    <h3>【ユーザーとメニュー名の検索結果】検索ワード："<%= @content %>"</h3>
    <h4>・ユーザー</h4>
    <%= render 'admin/users/index', users: @users %>
    <h4>・メニュー名</h4>
    <%= render 'admin/posts/index', posts: @posts %>
  <% elsif @users.present? && @posts.empty? %>
    <h3>【ユーザーの検索結果】検索ワード："<%= @content %>"</h3>
    <h4>・ユーザー</h4>
    <%= render 'admin/users/index', users: @users %>
  <% elsif @users.empty? && @posts.present? %>
    <h3>【メニュー名の検索結果】検索ワード："<%= @content %>"</h3>
    <h4>・メニュー名</h4>
    <%= render 'admin/posts/index', posts: @posts %>
  <% else %>
    <h3>検索ワード："<%= @content %>"に該当はありません</h3>
  <% end %>
<% end %>