<div class="card-list-container mb-5">
  <% posts.each do |post| %>
    <div class="card w-70 mx-auto mt-5 shadow-lg">
      <div class="card-header">
        <span>
          <%= link_to user_path(post.user.id) do %>
            <%= image_tag post.user.get_profile_image(50,50), class: "mt-o rounded-circle"; %>
          <% end %>
        </span>
        <span><%= link_to post.user.name, user_path(post.user.id), class: "text-dark" %></span>
      </div>
      <%= link_to admin_post_path(post.id) do %>
        <%= image_tag post.get_image(700,700), class: "border-bottom card-img-top"; %>
      <% end %>
      <div class="card-body">
        <div class="row">
          <div class="col-2">
            <%= render 'admin/posts/favorites-count', post: post %>
          </div>
          <div class="col-5">
            <%= render 'admin/comments/count', post: post %>
          </div>
          <div class="col-3">
            <b>
              <% if post.user.released? %>
                <font color="#28a745">公開</font>
              <% elsif post.user.nonreleased? %>
                <font color="#6c757d ">非公開</font>
              <% else %>
                <font color="#dc3545">退会</font>
              <% end %>
            </b>
          </div>
        </div>
        <div class="card-title">
          お店の名前：<%= link_to post.shop_name, admin_post_path(post.id), class: "text-dark" %>
        </div>
        <div class="card-text">
          メニュー名：<%= link_to post.menu, admin_post_path(post.id), class: "text-dark" %>
        </div>
        <div class="row mt-2">
          <div class="col-5">また食べたい度：</div>
          <div class="col-7">
            <%= render "public/posts/static_rate", post: post %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= paginate posts %>