<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-12">
      <%= render 'layouts/sidebar' %>
    </div>
      <div class="col-lg-9 col-md-8 col-sm-12">
        <div class="card shadow-lg px-3 py-3">
          <h2 class="headline col-lg-4 col-md-7 col-sm-12 text-center">投稿詳細</h2>
          <div class="row">
            <div class="pl-3 mb-2">
              <%= link_to admin_user_path(@post.user.id) do %>
                <%= image_tag @post.user.get_profile_image(50,50), class: "mt-o rounded-circle"; %>
                <%= @post.user.name %>
              <% end %>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 col-md-7 mb-3">
              <div><%= image_tag @post.get_image(500,400), class: "img-thumbnail mx-1 my-1 shadow" %></div>
              <div><%= render 'admin/posts/favorites-count', post: @post %></div>
              <div class="text-center">
                <%= link_to "投稿を削除", admin_post_path, method: :delete, "data-confirm" => "本当に削除しますか？", class: 'btn btn-danger' %>
              </div>
            </div>
            <div class="pl-3">
              <dl>
                <dt>投稿日</dt>
                <dd class="post-detail"><%= @post.created_at.strftime('%Y/%m/%d') %></dd>
                <dt>お店の名前</dt>
                <dd class="post-detail"><%= @post.shop_name %></dd>
                <dt>住所</dt>
                <dd class="post-detail"><%= @post.address %></dd>
                <dt>メニュー名</dt>
                <dd class="post-detail"><%= @post.menu %></dd>
                <dt>感想</dt>
                <dd class="post-detail"><%= @post.impression %></dd>
                <dt>値段</dt>
                <dd class="post-detail"><%= @post.price.to_s(:delimited, delimiter: ',')  %>円</dd>
                <dt>ボリューム</dt>
                <dd class="post-detail"><%= @post.volume_status_i18n %></dd>
                <dt>また食べたい度</dt>
                <dd class="post-detail"><%= render "public/posts/static_rate", post: @post %></dd>
              </dl>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-12">
              <h3 class="headline col-lg-4 col-md-7 col-sm-12 text-center">コメント一覧</h3>
              <div id="comments-count">
                <%= render 'admin/comments/count', post: @post %>
              </div>
              <div id="comments-area">
                <%= render 'admin/comments/index', post: @post %>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-12">
              <h3 class="headline col-lg-4 col-md-7 col-sm-12 text-center">マップ</h3>
            </div>
            <div class="col-12">
              <% if @post.address.present? %>
                <div id="map"></div>
                <style>
                  #map {
                    height: 500px;
                    width: 100%;
                  }
                </style>
                <script>
                  function initMap() {
                    var shop = {lat: <%= @post.latitude %>, lng: <%= @post.longitude %>};
                    var map = new google.maps.Map(document.getElementById('map'), {
                      zoom: 16,
                      center: shop
                    });
                    var transitLayer = new google.maps.TransitLayer();
                    transitLayer.setMap(map);

                    var contentString = '住所：<%= @post.address %>';
                    var infowindow = new google.maps.InfoWindow({
                      content: contentString
                    });
                    var marker = new google.maps.Marker({
                      position: shop,
                      map: map
                    });
                       }
                </script>
                <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLEMAP'] %>&callback=initMap"async defer></script>
              <% else %>
                住所の情報が入力されていません。
              <% end %>
            </div>
          </div>
        </div>
      <%= link_to '戻る', :back, class: "btn btn-outline-dark mt-3" %>
    </div>
  </div>
</div>
