<div class="container">
  <div class="row">
    <div class="col-lg-4 mb-3 text-center">
      <%= image_tag user.get_profile_image(120,120), class: "mt-o rounded-circle"; %>
    </div>
    <div class="col-lg-5">
      <div><strong>名前</strong></div>
      <div><%= user.name %></div>
      <div>投稿件数：<%= user.posts.count %></div>
      <% if user.name != "guestuser" %>
        <div class="row">
          <div class="mr-3">フォロー<%= user.followings.count %>人</div>
          <div>フォロワー<%= user.followers.count %>人</div>
        </div>
        <div class="row">
          <div><%= link_to 'プロフィールを編集', edit_admin_user_path(user.id), class: 'btn btn-sm btn-success' %></div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row  pl-3">
    <div><strong>自己紹介</strong></div>
  </div>
  <div class="row mb-5 pl-3">
    <% if user.name != "guestuser" %>
      <% if user.introduction.present? %>
        <div><%= user.introduction %></div>
      <% else %>
        <div>自己紹介文がありません</div>
      <% end %>
    <% else %>
      <div>ゲストユーザーです。</div>
    <% end %>
  </div>
  <hr>
  <div class="row">
    <div class="col-12">
      <h2 class="headline col-lg-4 col-md-7 col-sm-12 text-center mt-3">投稿一覧</h2>
    </div>
    <div class="col-12">
      <% if user.posts.present? %>
        <% if user.released? || user == current_user %>
          <div><%= render 'admin/posts/history', posts: posts %></div>
        <% elsif user.nonreleased? && user != current_user %>
          <div>このユーザーは非公開です。</div>
        <% end %>
      <% else %>
        <div>まだ投稿がありません。</div>
      <% end %>
    </div>
  </div>
</div>