<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <%= image_tag user.get_profile_image(100,100), class: "mt-o rounded-circle"; %>
    </div>
    <div class="col-lg-5">
      <div><strong>名前</strong></div>
      <div><%= user.name %></div>
      <div>投稿件数：<%= user.posts.count %></div>
      <% if user.name != "guestuser" %>
        <div class="row">
          <div>フォロー<%= user.followings.count %>人</div>
          <div>フォロワー<%= user.followers.count %>人</div>
        </div>
        <div class="row">
          <div><%= link_to 'プロフィールを編集', edit_admin_user_path(user.id), class: 'btn btn-sm btn-success' %></div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div><strong>自己紹介</strong></div>
    <% if user.name != "guestuser" %>
      <% if user.introduction.present? %>
        <div><%= user.introduction %></div>
      <% else %>
        <div>自己紹介文がありません</div>
      <% end %>
    <% else %>
      <div>ゲストユーザーです。</div>
    <% end %>
  </div>
  <div class="row">
    <div><strong>投稿一覧</strong></div>
    <% if user.posts.present? %>
      <% if user.released? || user == current_user %>
        <div><%= render 'admin/posts/history', posts: posts %></div>
      <% elsif user.nonreleased? && user != current_user %>
        <div>このユーザーは非公開です。</div>
      <% end %>
    <% else %>
      <div>まだ投稿がありません。</div>
    <% end %>
  </div>
</div>