<table class="table">
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th>introduction</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td>
          <%= link_to user_path(user.id) do %>
            <%= image_tag user.get_profile_image(100,100), class:"mt-o rounded-circle"; %>
          <% end %>
        </td>
        <td><%= link_to user.name, user_path(user.id) %></td>
        <td><%= user.introduction %></td>
        <td>
          <div>フォロー数:<%= user.followings.count %></div>
          <div>フォロワー数:<%= user.followers.count %></div>
        </td>
        <td><%= render 'public/relationships/btn', user: user %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate users %>