<table class="table">
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td>
          <%= link_to user_path(user.id) do %>
            <%= image_tag user.get_profile_image(100,100), class: "mt-o rounded-circle"; %>
          <% end %>
        </td>
        <td>
          <div>【ニックネーム】</div>
          <div class="users-index"><%= link_to user.name, user_path(user.id) %></div>
          <div>【自己紹介】</div>
          <% if user.name != "guestuser" %>
            <% if user.introduction.present? %>
              <div class="users-index"><%= user.introduction %></div>
            <% else %>
              <div class="users-index">自己紹介文がありません。</div>
            <% end %>
          <% else %>
            <div class="users-index">ゲストユーザーです。</div>
          <% end %>
        </td>
        <td>
          <% if user != current_user %>
            <div class="mt-4"><%= render 'public/relationships/btn', user: user %></div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr>
<%= paginate users %>