<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <%= image_tag user.get_profile_image(100,100), class: "mt-o rounded-circle"; %>
    </div>
    <div class="col-lg-5">
      <div><strong>名前</strong></div>
      <div><%= user.name %></div>
      <% if user.name != "guestuser" %>
        <div class="row">
          <div class="col-2">投稿件数</div>
          <div class="col-3"><%= link_to 'フォロー' + '1' + '人', posts_path, class: 'btn btn-sm btn-info' %></div>
          <div class="col-3"><%= link_to 'フォロワー' + '1' + '人', posts_path, class: 'btn btn-sm btn-info' %></div>
        </div>
        <% if user == current_user %>
          <div class="row">
            <div class="col-3"><%= link_to 'いいねした投稿' + '1' + '件', posts_path, class: 'btn btn-sm btn-info' %></div>
            <div class="col-3"><%= link_to 'プロフィールを編集', edit_user_path(user.id), class: 'btn btn-sm btn-info' %></div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div><strong>自己紹介</strong></div>
    <% if user.name != "guestuser" %>
      <% unless user.introduction.present? %>
        <div><%= user.introduction %></div>
      <% else %>
        <div>自己紹介文がありません</div>
      <% end %>
    <% else %>
      <div>ゲストユーザーです。</div>
    <% end %>
  </div>
  <div class="row">
    <div><strong>投稿一覧</strong></div>
    <% if user.posts.present? %>
      <% if user.released? || user == current_user %>
        <div><%= render 'public/posts/history', posts: posts %></div>
      <% elsif user.nonreleased? && user != current_user %>
        <div>このユーザーは非公開です。</div>
      <% end %>
    <% else %>
      <div>まだ投稿がありません。</div>
    <% end %>
  </div>
</div>

