<div class="sidebar card text-dark bg-light mb-5 shadow-lg sticky-top">
  <div class="card-header text-center">

      <div class="text-dark">
        <div class="row">
          <% if user_signed_in? %>
            <div class="col-12">ログイン中</div>
            <div class="col-12">
              <%= image_tag current_user.get_profile_image(30,30), class: "mt-o rounded-circle"; %>
              <%= current_user.name %>
            </div>
          <% elsif admin_signed_in? %>
            <div class="col-12">管理者ログイン中</div>
          <% end %>
        </div>
      </div>

  </div>
  <div class="card-body">
    <ul class="card-text list-unstyled">
      <% if user_signed_in? %>
        <li><%= link_to '[投稿]新しい順', posts_path(latest: "true") %></li>
        <li><%= link_to '[投稿]古い順', posts_path(old: "true") %></li>
        <li><%= link_to '[投稿]星が多い順', posts_path(star_count: "true") %></li>
        <li><%= link_to '[投稿]いいね多い順', posts_path(favorite_count: "true") %></li>
        <li><%= link_to '[投稿]コメント多い順', posts_path(comment_count: "true") %></li>
        <% if current_user.name != "guestuser" %>
          <li>
            <%= link_to confirm_deleted_path do %>
              <font color="#f00">
                <i class="fas fa-exclamation-triangle"></i>
                退会する
              </font>
            <% end %>
          </li>
        <% end %>
      <% elsif admin_signed_in? %>
        <li><%= link_to '[投稿]新しい順', admin_root_path(latest: "true") %></li>
        <li><%= link_to '[投稿]古い順', admin_root_path(old: "true") %></li>
        <li><%= link_to '[投稿]星が多い順', admin_root_path(star_count: "true") %></li>
        <li><%= link_to '[投稿]いいね多い順', admin_root_path(favorite_count: "true") %></li>
        <li><%= link_to '[投稿]コメント多い順', admin_root_path(comment_count: "true") %></li>
      <% end %>
    </ul>
  </div>
</div>
