<!DOCTYPE html>
<html>
  <head>
    <title>Gourmemo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/cc0284726c.js" crossorigin="anonymous"></script>
  </head>

  <body class="<%= @classname %>">
    <div class="wrapper">
      <%= render 'layouts/header' %>
      <div><%= flash[:notice] %></div>
      <p class="alert"><%= alert %></p>
      <% if admin_signed_in? %>
        <div class="text-center mb-5">
          <%= render 'admin/searches/form' %>
        </div>
      <% elsif user_signed_in? %>
        <div class="text-center mb-5">
          <%= render 'public/searches/form' %>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>

  </body>
</html>
